<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <form id="paymentForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email-address" required />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="tel" id="amount" required />
      </div>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" />
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" />
      </div>
      <div class="form-submit">
        <button type="submit" onclick="payWithPaystack()">Pay</button>
      </div>
    </form>

    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="payment.js"></script> -->
  
    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
      <div>
        Your order is N2,000
      </div>
      <input type="hidden" name="public_key" value="FLWPUBK_TEST-02b9b5fc6406bd4a41c3ff141cc45e93-X" />
      <input type="hidden" name="customer[email]" value="test@mailnator.com" />
      <input type="hidden" name="customer[name]" value="Ayomide Jimi-Oni" />
      <input type="hidden" name="tx_ref" value="txref-81123" />
      <input type="hidden" name="amount" value="2000" />
      <input type="hidden" name="currency" value="NGN" />
      <input type="hidden" name="meta[source]" value="docs-html-test" />
      <br>
      <button type="submit" id="start-payment-button">Pay Now</button>
    </form>
  </body>
</html>
